:root {
  --sb-background: #eee;
  --sb-foreground: black;

  @media (prefers-color-scheme: dark) {
    --sb-background: #252525;
    --sb-foreground: white;
  }
}

body:not(:has(.sbdocs)),
.docs-story {
  background: var(--sb-background);
  color: var(--sb-foreground);
}
