@import "tailwindcss";

@theme {
  --color-background: var(--mcu-background);
  --color-on-background: var(--mcu-on-background);
  --color-surface: var(--mcu-surface);
  --color-surface-dim: var(--mcu-surface-dim);
  --color-surface-bright: var(--mcu-surface-bright);
  --color-surface-container-lowest: var(--mcu-surface-container-lowest);
  --color-surface-container-low: var(--mcu-surface-container-low);
  --color-surface-container: var(--mcu-surface-container);
  --color-surface-container-high: var(--mcu-surface-container-high);
  --color-surface-container-highest: var(--mcu-surface-container-highest);
  --color-on-surface: var(--mcu-on-surface);
  --color-on-surface-variant: var(--mcu-on-surface-variant);
  --color-outline: var(--mcu-outline);
  --color-outline-variant: var(--mcu-outline-variant);
  --color-inverse-surface: var(--mcu-inverse-surface);
  --color-inverse-on-surface: var(--mcu-inverse-on-surface);
  --color-primary: var(--mcu-primary);
  --color-on-primary: var(--mcu-on-primary);
  --color-primary-container: var(--mcu-primary-container);
  --color-on-primary-container: var(--mcu-on-primary-container);
  --color-primary-fixed: var(--mcu-primary-fixed);
  --color-primary-fixed-dim: var(--mcu-primary-fixed-dim);
  --color-on-primary-fixed: var(--mcu-on-primary-fixed);
  --color-on-primary-fixed-variant: var(--mcu-on-primary-fixed-variant);
  --color-inverse-primary: var(--mcu-inverse-primary);
  --color-secondary: var(--mcu-secondary);
  --color-on-secondary: var(--mcu-on-secondary);
  --color-secondary-container: var(--mcu-secondary-container);
  --color-on-secondary-container: var(--mcu-on-secondary-container);
  --color-secondary-fixed: var(--mcu-secondary-fixed);
  --color-secondary-fixed-dim: var(--mcu-secondary-fixed-dim);
  --color-on-secondary-fixed: var(--mcu-on-secondary-fixed);
  --color-on-secondary-fixed-variant: var(--mcu-on-secondary-fixed-variant);
  --color-tertiary: var(--mcu-tertiary);
  --color-on-tertiary: var(--mcu-on-tertiary);
  --color-tertiary-container: var(--mcu-tertiary-container);
  --color-on-tertiary-container: var(--mcu-on-tertiary-container);
  --color-tertiary-fixed: var(--mcu-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--mcu-tertiary-fixed-dim);
  --color-on-tertiary-fixed: var(--mcu-on-tertiary-fixed);
  --color-on-tertiary-fixed-variant: var(--mcu-on-tertiary-fixed-variant);
  --color-error: var(--mcu-error);
  --color-on-error: var(--mcu-on-error);
  --color-error-container: var(--mcu-error-container);
  --color-on-error-container: var(--mcu-on-error-container);
  --color-scrim: var(--mcu-scrim);
  --color-shadow: var(--mcu-shadow);
}
